// Colors
$CWO_black: #000;
$CWO_white: #f0f0f0;
$CWO_lightRed: #ff0033;
$CWO_darkRed: #cc0000;

// Fonts
$CWO_regular: font_regular, Helvetica, sans-serif;
$CWO_bold:    font_bold, Helvetica, sans-serif;
$CWO_heat:    Heatwerk, Helvetica, sans-serif;
$CWO_icon:    FontAwesome, Helvetica, sans-serif;

