.faq_question{
  h3,p{
    position: relative;
    padding-left: 30px;
  }
  h3:before,p:first-of-type:before{
    font-family: $CWO_flat;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  h3:before{
    content: '\f108'
  }

  p:first-of-type:before{
    content: '\f109';
  }
}