.fp-header{
  height: 16vh;
  @include media-breakpoint-up(lg){
    height: 25vh;
  }
  @media screen and (min-width: 1500px) {
    height: 20vh;
  }
}
.fp-content {
  // STD
  height: 58vh;
  @include media-breakpoint-up(xl){
    width: 90%;
  }
  @media screen and (min-width: 1500px) {
    height: 63vh;
  }

  // Squares
  &-square {
    height: 50%;
    width: 50%;
    transition: $btn-transition;
    &:not(.off):hover{
      cursor: pointer;
      color: $secondary;
      text-shadow: 2px 4px rgba($primary,.5);
    }
    @include media-breakpoint-up(md) {
      &:nth-child(1), &:nth-child(2) {
        border-bottom: 1px dashed rgba($white, .5);
      }

      &:nth-child(odd) {
        border-right: 1px dashed rgba($white, .5);
      }
    }
  }

  // Special Icons
  .flaticon {
    font-family: $CWO_flat;
    &.bands:before {
      content: '\f101';
    }
    &.anfahrt:before{
      content: '\f100';
    }

    &.info:before{
      content: '\f101';
    }
  }
}

.fp-footer{
  position: fixed;
  width: 100%;
  bottom: 4vh;
  @include media-breakpoint-up(lg){
    position: static;
    height: 17vh;
    padding-top: 4vh;
  }
  @media screen and (min-width: 1500px) {
    padding-top: 7vh;
  }
}

