.sb-content{
  &-list{
    i{
      font-size: $h2-font-size;
      width: 40px;
    }
    a {
      color: white;
      transition: $btn-transition;
      &:hover{
        color: $secondary
      }
    }
    span{
      position: relative;
      bottom: 5px;
    }
  }
}