.single_band{
  width: 100%;
}
.pb_headliners{
  @include media-breakpoint-up(md){
    width: 85%;
  }
  .single_band{
    @include media-breakpoint-up(md) {
      width: 45%;
    }
  }
}

.pb_normals{
    width: 90%;
  .single_band{
    @include media-breakpoint-up(md){
      width: 30%;
    }
  }
}

.pb-link{
  transition: all 300ms ease-out;
  &:hover{
    transform: scale(1.1);
    box-shadow: 0 0 32px 16px rgba($black,.1);
    background-color: rgba($black,.1);
  }
}